[Desktop Entry]
Name=Cursor
Type=Application
Exec=/opt/cursor/Cursor.AppImage --no-sandbox
Icon=/opt/cursor/cursor.png
Terminal=false
X-GNOME-Autostart-enabled=true 